{{!--
<style>
    .navbar-header {
        width: 100%;
    }

    .right-content {
        float: right;
    }

    input[type="text"] {
        padding: 0.7em;
    }

    .formularioMolon {
        display: inline-block;
        width: unset;
    }
</style>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <div class="left-content">
                <a class="navbar-brand" href="#">PetConnecting</a>
                <a href="/animals/create">
                    <button>Create</button>
                </a>
                <a href="/animals/userlist">
                    <button>Buscador</button>
                </a>
            </div>

            <div class="right-content">
                {{#if currentUser}}
                <a href="/sessions/logout">
                    <button>Logout</button>
                </a>
                {{else}}
                <form class="formularioMolon" method="post" action="sessions/create">
                    <input type="text" name="email" placeholder="Email.." value="" /> {{#if errors.email}}
                    <p>{{ errors.email }}</p>
                    {{/if}}
                    <input type="password" name="password" placeholder="Password.." value="" /> {{#if errors.password}}
                    <p>{{errors.password}}</p>
                    {{/if}}
                    <button type="submit">Login</button>
                    <button type="submit">
                        <a href="/users/signup">Sign up</a>
                    </button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</div> --}}


<section>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/img/pastores-alemanes.jpg">
                <div class="caption center-align">
                    <h3>Choose!</h3>
                    <h5 class="light grey-text text-lighten-3">Your favourite</h5>
                </div>
            </li>
            <li>
                <img src="/img/pareja-golden.jpg">
                <div class="caption left-align">
                    <h3>Connect!</h3>
                    <h5 class="light grey-text text-lighten-3">With love</h5>
                </div>
            </li>
            <li>
                <img src="/img/cachorrito.jpg">
                <div class="caption right-align">
                    <h3>Care!</h3>
                    <h5 class="light grey-text text-lighten-3">New family members</h5>
                </div>
            </li>
            <li>
                <img src="/img/niño-perro.jpg">

                <div class="caption center-align">
                    <h3>Live!</h3>
                    <h5 class="light grey-text text-lighten-3">Unforgettable experiences</h5>
                </div>
            </li>
        </ul>
    </div>
</section>

<section>


</section>

<footer class="page-footer pink darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">New member?</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <a href="/users/signup" class="waves-effect waves-light btn-large  pink darken-4">
                    <i class="material-icons right">favorite</i>Join now!</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright pink darken-4">
        <div class="container">
            Created with love by Edna & Jhon
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>