
<style>
    .navbar-header {
        width: 100%;
    }

    .right-content {
        float: right;
    }

    input[type="text"] {
        padding: 0.7em;
    }

    .formularioMolon {
        display: inline-block;
        width: unset;
    }
</style>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PetConnecting</a>
            <div class="right-content">
                <form class="formularioMolon" method="post" action="sessions/create">
                    <input type="text" name="email" placeholder="Email.."/>
                    <input type="password" name="password" placeholder="Password.." />
                    <button type="submit">Login</button>
                </form>

                <button type="submit"><a href="/users/signup">Sign up</a></button>
            </div>
        </div>
    </div>
</div>

