<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Cargamos el css de bootstrap CDN aqui -->
  {{!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
  <!-- MATERIALIZE CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css"> {{!-- Icons CSS --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- SLIDER DE JHON -->
  {{!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"> --}}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEkL-jlLHB19M2VVbD52QgO2VkeMERovI">
  </script>
  
</head>


<body>
  <style>
    .right-content {
      float: right;
    }

    .formularioMolon {
      display: inline-block;
      width: unset;
    }
  </style>

  <nav>
    <div class="nav-wrapper pink darken-4">
      <a class="brand-logo">
        <i class="material-icons">
          pets
        </i> PetConnecting</a>

      <div class="right-content">
        {{#if currentUser}}
        <a href="/animals/userlist" class="waves-effect waves-light btn">Search</a>
        <a href="/sessions/logout">
          <button style="margin:0px 20px" class="btn waves-effect waves-light" type="submit">
            Log out
          </button>
        </a>
        {{else}}

        <a href="/sessions/create" style="margin:0px 20px">
          <button class="btn waves-effect waves-light" type="submit">
            Log in
          </button>
        </a>
        {{/if}}
      </div>

    </div>
  </nav>
  {{{body}}}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/dog-api.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>